*
{
    margin: 0 auto;
    padding: 0;
}

body
{
width: 100%;
background: url(../imagenes/fondo.jpg) no-repeat ;
width: 100%;
}

.page
{
  width:80%;
  text-align: center;
  border: 1px black solid;
  margin-top: 30px;
  background-color: #463373;
  color: bisque;
}

select
{
    margin-bottom: 50px;
}
